<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>120520323053-tl6uchksupu9u54bb57o712iql1bf75f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.120520323053-tl6uchksupu9u54bb57o712iql1bf75f</string>
	<key>API_KEY</key>
	<string>AIzaSyDnoy_KzlIHQ3w8TFgwQ8Ym4X95bkVeB10</string>
	<key>GCM_SENDER_ID</key>
	<string>120520323053</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.collective.iTacos</string>
	<key>PROJECT_ID</key>
	<string>itacos-60cb6</string>
	<key>STORAGE_BUCKET</key>
	<string>itacos-60cb6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:120520323053:ios:097395f2b4394cfffe01e4</string>
</dict>
</plist>